html,body {
    height: 100%;
    width: 100%;
}
.cursor {
    cursor: pointer;
}
body {
    background: $body-background;
}
.heading {
    font-family: "open sans";
    font-weight: 700;
    font-size: 0.75rem;
    
}
.caption {
    font-family: "open sans";
    font-weight: 400;
    color: #657077;
    font-size: 0.75rem;
}
.subHeading {
    font-family: "open sans";
    font-weight: 700;
    font-size: 1.5rem;
}
.title--primary--color {
    color: $primary-color;
}
.mb-8 {
    padding-bottom: 0.5rem;
}
.mr-8 {
    margin-right: 0.5rem;
}
.mt-8 {
    margin-top: 0.5rem;
}
.text-align {
    text-align: right;
}
